.blue-background {
    background: linear-gradient(to bottom, #504dc2 0%, #5f12d0 50%, #fff 50%);
}

.half-section {
    background-color: #e5e5e5;
}

.our-works {
    background: linear-gradient(90deg, #504dc2 20.44%, #5f12d0 80.91%), #c4c4c4;
}

.our-works-title {
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
}

.our-works-title h2,
.our-works-title-button {
    flex: 1;
}

.our-works-title-button {
    text-align: right;
}

.our-works-item {
    width: 33%;
    /* border: 2px solid red; */
    padding: 0 15px;
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 85px;
    margin-top: 70px;
    margin-bottom: 85px;
}

.our-works-item img {
    width: 100%;
}

.white-color-title {
    color: white;
}

.our-works-item-content {
    line-height: 1.56;
    color: #999999;
}

.blue-text-item {
    color: #4985FF;
}

@media (max-width:900px) {
    .our-works-item {
        width: 47%;
    }
    .flex-row {
        flex-wrap: wrap;
    }
}

@media(max-width:900px) {
    .our-works-item-content {
        font-size: 14px;
    }
}