.high-developmenth-standards{
    background-color:#F6F6F8;
    }

   .developmenth-standards-img{
    width: 500px;
    height: 400px;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    
    
}
.high-developmenth-text-img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top:100px;
    padding-bottom:90px ;
}
.develop-standards{
    border-bottom:1px solid #E0E0E0 ;

}
.high-developmenth-text{
    width:34.2% ;
    padding-right:121px ;
}
.develop-text{
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 25px;
color: #999999;

}

.developmenth-text-title{
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-style: normal;
font-weight: bold;
color: #323232;

}

.standards-icon-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10%;
    padding-right: 100px;
    padding-bottom: 70px;
   

}
.icon-number{
    display: flex;
    flex-direction: row;
   
   
}
.web-programming-icon{
height: 26.47px;
width: 30px;
padding-right:20px ;



}
.icon-number-item{
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 53px;
color: #000000;
margin: 0;

}

.developmenth-standards-icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top:70px ;

}
.icon-text-our-projects{
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
color: #999999;

}
  

